@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);

@layer igloo {
    :root {
        --ids-color-background: var(--ids-color-background);
        --ids-color-border-radius: var(--hop-shape-circle);
        --ids-color-border-radius-xs: var(--hop-shape-circle);
        --ids-color-border-radius-square: var(--hop-shape-rounded-sm);
        --ids-color-border-radius-square-xs: calc(var(--hop-shape-rounded-sm) / 2);
        --ids-color-color: var(--ids-color-text, var(--hop-neutral-text));
        --ids-color-font-family: var(--hop-body-xl-font-family);
        --ids-color-font-size: var(--hop-body-lg-font-size);
        --ids-color-font-size-large: var(--hop-body-md-font-size);
        --ids-color-font-size-medium: var(--hop-body-xs-font-size);
        --ids-color-font-size-small: var(--hop-body-xs-font-size);
        --ids-color-font-weight: var(--hop-body-xl-font-weight);

        /* Sizes */
        --ids-color-size-s: 1rem;
        --ids-color-size-m: 1.5rem;
        --ids-color-size-l: 2rem;
        --ids-color-size-xl: 3rem;

        /* Square */
        --ids-color-padding-square-s: calc(var(--hop-space-inset-xs) / 2);
        --ids-color-padding-square-m: var(--hop-space-inset-xs);
        --ids-color-padding-square-l: 0.375rem;
        --ids-color-padding-square-xl: var(--hop-space-inset-sm);
    }

    .ids-color {
        border-radius: var(--ids-color-border-radius);
        box-sizing: border-box;
        display: flex;
        font-family: var(--ids-color-font-family);
        font-size: var(--ids-color-font-size);
        font-style: normal;
        font-stretch: normal;
        font-weight: var(--ids-color-font-weight);
        user-select: none;

        &--small {
            border-radius: var(--ids-color-border-radius-xs);
            font-size: var(--ids-color-font-size-small);
            height: var(--ids-color-size-s);
            line-height: var(--ids-color-size-s);
            width: var(--ids-color-size-s);
        }

        &--medium {
            border-radius: var(--ids-color-border-radius-xs);
            font-size: var(--ids-color-font-size-medium);
            height: var(--ids-color-size-m);
            line-height: var(--ids-color-size-m);
            width: var(--ids-color-size-m);
        }

        &--large {
            font-size: var(--ids-color-font-size-large);
            height: var(--ids-color-size-l);
            line-height: var(--ids-color-size-l);
            width: var(--ids-color-size-l);
        }

        &--xlarge {
            height: var(--ids-color-size-xl);
            line-height: var(--ids-color-size-xl);
            width: var(--ids-color-size-xl);
        }

        &--square {
            border-radius: var(--ids-color-border-radius-square);

            &.ids-color--small {
                border-radius: var(--ids-color-border-radius-square-xs);
                padding: var(--ids-color-padding-square-s);
            }

            &.ids-color--medium {
                padding: var(--ids-color-padding-square-m);
            }

            &.ids-color--large {
                padding: var(--ids-color-padding-square-l);
            }

            &.ids-color--xlarge {
                padding: var(--ids-color-padding-square-xl);
            }
        }
    }

    .ids-color__inner {
        align-items: center;
        background: var(--ids-color-background);
        border-radius: var(--ids-color-border-radius);
        box-sizing: border-box;
        color: var(--ids-color-color);
        display: flex;
        flex: 1 1 auto;
        flex-shrink: 0;
        justify-content: center;

        .ids-color--small & {
            border-radius: var(--ids-color-border-radius-xs);
        }

        .ids-color--medium & {
            border-radius: var(--ids-color-border-radius-xs);
        }

        .ids-color--square & {
            border-radius: var(--ids-color-border-radius-square);
        }

        .ids-color--square.ids-color--small & {
            border-radius: var(--ids-color-border-radius-square-xs);
        }
    }
}
