@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@layer hopper-design-system, hopper-icons, igloo;

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);
@import url("~@hopper-ui/icons-react16/index.css") layer(hopper-icons);

@layer igloo {
    :root {
         /* Default */
        --ids-list-font-family: var(--hop-body-sm-font-family);
        --ids-list-font-size: var(--hop-body-sm-font-size);
        --ids-list-font-weight: var(--hop-body-sm-font-weight);
        --ids-list-color: var(--hop-neutral-text);
        --ids-list-line-height: var(--hop-body-sm-line-height);
        --ids-list-min-width: 12.5rem;
        --ids-list-padding: var(--hop-space-inset-sm);
    }

    .ids-list {
        color: var(--ids-list-color);
        font-family: var(--ids-list-font-family);
        font-size: var(--ids-list-font-size);
        font-weight: var(--ids-list-font-weight);
        line-height: var(--ids-list-line-height);
        list-style: none;
        margin: 0;
        min-width: var(--ids-list-min-width);
        padding: var(--ids-list-padding);

        &,
        & * {
            box-sizing: border-box;
        }
    }
}
