@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);

:root {
    /* Default */
    --ids-metric-background: var(--hop-neutral-surface);
    --ids-metric-font-family: var(--hop-body-sm-font-family);
    --ids-metric-font-size: var(--hop-body-sm-font-size);
    --ids-metric-font-weight: var(--hop-body-sm-font-weight);
    --ids-metric-padding: var(--hop-space-inset-sm);
    --ids-metric-border: var(--hop-shape-rounded-md);
    --ids-metric-border-radius: var(--hop-shape-rounded-md);
    --ids-metric-line-height: var(--hop-body-sm-line-height);
    --ids-metric-border-color: var(--hop-neutral-border-weak);
    --ids-metric-border-width: 0.0625rem;
    --ids-metric-shadow: var(--hop-elevation-raised);

    /* Visual */
    --ids-metric-visual-background: var(--hop-neutral-surface-weak);
    --ids-metric-visual-border-radius: var(--hop-shape-circle);
    --ids-metric-visual-color: var(--hop-neutral-icon-weak);
    --ids-metric-visual-size: 2.5rem;
    --ids-metric-visual-positive-background: #E3F3B9; /* Data Viz token */
    --ids-metric-visual-positive-color: #0C796B; /* Data Viz token */
    --ids-metric-visual-negative-background: #FDE6E5; /* Data Viz token */
    --ids-metric-visual-negative-color: #CB2E31; /* Data Viz token */
    --ids-metric-visual-selected-background: var(--hop-neutral-surface-selected);
    --ids-metric-visual-selected-color: var(--hop-neutral-text-selected);
    --ids-metric-visual-margin-right: var(--hop-space-inline-md);

    /* Hover */
    --ids-metric-hover-shadow: var(--hop-elevation-lifted);
    --ids-metric-hover-background: var(--hop-neutral-surface-hover);
    --ids-metric-hover-border-color: var(--hop-neutral-border-hover);

    /* Pressed */
    --ids-metric-pressed-shadow: var(--hop-elevation-lifted);
    --ids-metric-pressed-background: var(--hop-neutral-surface-press);
    --ids-metric-pressed-border-color: var(--hop-neutral-border-press);

    /* Focus */
    --ids-metric-focus-border-color: var(--hop-neutral-border-hover);
    --ids-metric-focus-shadow: var(--hop-elevation-lifted), 0 0 0 0.12rem var(--hop-neutral-surface), 0 0 0 0.219rem var(--hop-primary-border-focus);

    /* Selected */
    --ids-metric-selected-shadow: var(--hop-elevation-raised);
    --ids-metric-selected-border-width: 0.1rem; /* 1.5px generates too small of a border. Usually 0.8px */
    --ids-metric-selected-border-color: var(--hop-neutral-border-selected);
    --ids-metric-selected-hover-border-color: var(--hop-neutral-border-selected);
    --ids-metric-selected-hover-background: var(--hop-neutral-surface-hover);
    --ids-metric-selected-hover-shadow: var(--hop-elevation-lifted);
    --ids-metric-selected-focus-shadow: var(--ids-metric-focus-shadow);

    /* Score */
    --ids-metric-score-margin-left: var(--hop-space-inline-sm);

    /* Name */
    --ids-metric-name-color: var(--hop-neutral-text-weak);

    /* Status */
    --ids-metric-status-color: var(--hop-neutral-icon-weak);
    --ids-metric-status-selected-color: var(--hop-neutral-icon);

    /* Fluctuate */
    --ids-metric-alignment-icon-margin: var(--hop-space-inline-sm);
    --ids-metric-fluctuate-name-color: var(--hop-neutral-text-weak);

    /* Sub Metric */
    --ids-metric-sub-metric-border-color: var(--hop-neutral-border-weak);
    --ids-metric-sub-metric-padding-left: var(--hop-space-inset-md);
    --ids-metric-sub-metric-focus-shadow:  0 0 0 0.12rem var(--hop-neutral-surface), 0 0 0 0.219rem var(--hop-primary-border-focus);
    --ids-metric-sub-metric-hover-border-color: var(--hop-neutral-border-hover);

    /* Sub Metric Selected */
    --ids-metric-sub-metric-selected-border-color: var(--hop-neutral-border-selected);
    --ids-metric-sub-metric-selected-left-border-color: transparent;
    --ids-metric-sub-metric-selected-left-border-width: 0;
    --ids-metric-sub-metric-selected-hover-border-color: var(--hop-neutral-border-selected);
}

.ids-metric {
    align-items: center;
    background: var(--ids-metric-background);
    border: var(--ids-metric-border-width) solid var(--ids-metric-border-color);
    border-radius: var(--ids-metric-border-radius);
    box-shadow: var(--ids-metric-shadow);
    display: flex;
    font-family: var(--ids-metric-font-family);
    font-size: var(--ids-metric-font-size);
    font-weight: var(--ids-metric-font-weight);
    outline: none;
    overflow: hidden;
    padding: var(--ids-metric-padding);
    position: relative;
    text-align: left;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    width: 100%;

    &,
    & * {
        box-sizing: border-box;
    }

    &:hover {
        background: var(--ids-metric-hover-background);
        border-color: var(--ids-metric-hover-border-color);
        box-shadow: var(--ids-metric-hover-shadow);
        cursor: pointer;
    }

    &:active {
        background: var(--ids-metric-pressed-background);
        border-color: var(--ids-metric-pressed-border-color);
        box-shadow: var(--ids-metric-pressed-shadow);
        cursor: pointer;
    }

    &.keyboard-focus {
        background: var(--ids-metric-hover-background);
        outline: none;
        border-color: var(--ids-metric-focus-border-color);
        box-shadow: var(--ids-metric-focus-shadow);
    }
}

.ids-metric--selected {
    border-color: var(--ids-metric-selected-border-color);
    border-width: var(--ids-metric-selected-border-width);
    box-shadow: var(--ids-metric-selected-shadow);

    &:hover {
        background: var(--ids-metric-selected-hover-background);
        border-color: var(--ids-metric-selected-hover-border-color);
        box-shadow: var(--ids-metric-selected-hover-shadow);
    }

    &.keyboard-focus {
        background: var(--ids-metric-selected-hover-background);
        border-color: var(--ids-metric-selected-hover-border-color);
        box-shadow: var(--ids-metric-selected-focus-shadow);
    }
}

.ids-metric--score {
}

.ids-metric--subMetric {
    border-color: var(--ids-metric-sub-metric-border-color);
    box-shadow: none;
    padding-left: var(--ids-metric-sub-metric-padding-left);

    &:hover {
        background: var(--ids-metric-selected-hover-background);
        border-color: var(--ids-metric-sub-metric-hover-border-color);
        box-shadow: none;
    }

    &.keyboard-focus {
        background: var(--ids-metric-selected-hover-background);
        border-color: var(--ids-metric-sub-metric-hover-border-color);
        box-shadow: var(--ids-metric-sub-metric-focus-shadow);
    }
}

.ids-metric--subMetric.ids-metric--selected {
    border-color: var(--ids-metric-sub-metric-selected-border-color);

    &:hover,
    &.keyboard-focus {
        border-color: var(--ids-metric-sub-metric-selected-hover-border-color);
    }

    &::before {
        background: var(--ids-metric-sub-metric-selected-left-border-color);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: var(--ids-metric-sub-metric-selected-left-border-width);
    }
}

.ids-metric__visual {
    align-items: center;
    background: var(--ids-metric-visual-background);
    border-radius: var(--ids-metric-visual-border-radius);
    color: var(--ids-metric-visual-color);
    display: flex;
    flex: 0 0 auto;
    height: var(--ids-metric-visual-size);
    justify-content: center;
    margin-right: var(--ids-metric-visual-margin-right);
    width: var(--ids-metric-visual-size);

    &--positive {
        background: var(--ids-metric-visual-positive-background);
        color: var(--ids-metric-visual-positive-color);
    }

    &--negative {
        background: var(--ids-metric-visual-negative-background);
        color: var(--ids-metric-visual-negative-color);
    }

    &--selected {
        background: var(--ids-metric-visual-selected-background);
        color: var(--ids-metric-visual-selected-color);
    }
}

.ids-metric__content {
    flex: 1 1 auto;
}

.ids-metric__score-group {
    align-items: baseline;
    display: flex;

    & .ids-metric__score ~ .ids-metric__score  {
        margin-left: var(--ids-metric-score-margin-left);
    }
}

.ids-metric__name {
    align-items: center;
    color: var(--ids-metric-name-color);
    display: flex;
    line-height: var(--ids-metric-line-height);

    .ids-metric--fluctuate & {
        color: var(--ids-metric-fluctuate-name-color);
    }
}

.ids-metric__status {
    color: var(--ids-metric-status-selected-color);
    flex: 0 0 auto;
    transition: opacity 0.2s ease-in-out;

    &--tooltip {
        color: var(--ids-metric-status-color);
        opacity: 0;
    }

    .ids-metric:hover &--tooltip {
        opacity: 1;
    }
}

.ids-metric__alignment-icon {
    flex: 0 0 auto;
    margin-right: var(--ids-metric-alignment-icon-margin);
}
